body {
  background-image: url(photos/Background.jpg);
  color: white;
}
.topButton {
  float: right;
}
.topButton img {
  height: 40px;
  width: 40px;
}
.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about p {
  font-size: 20px;
  margin-top: 0px;
}
#profilepic {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}
#profilepic img {
  height: 100%;
}
.social {
  display: flex;
}
.social li{
  list-style: none;
  display: flex;
  flex: 1;
}
.social img {
  width: 47px;
  height: 47px;
}
.portButton {
  display: flex;
  justify-content: center;
}
.button_1 {
  background-color: transparent;
  color: white;
  font-size: 21px;
  font-style: italic;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  width: 92px;
  height: 48px;
}

/* CSS for portfolio page */
.heading {
  text-align: center;
}
.portcards {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: gray;
}
.card-image{
  height: 100px;
  width: 100px;
}
