body {
  background-image: url(http://wallpapercave.com/wp/kSQNifX.jpg);
  color: white;
}
.topButton {
  float: right;
}
.topButton img {
  height: 40px;
  width: 40px;
}
.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profilepic {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}
#profilepic img {
  height: 100%;
}
.social {
  display: flex;
}
.social li{
  list-style: none;
  display: flex;
  flex: 1;
}
.social img {
  width: 47px;
  height: 47px;
}
.button {
  font-size: 12px;
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 12px;
  display: inline-block;
}
